/* Yessica Quezada, IS-117-004, Spring 2021 */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: ghostwhite;
    text-align: center;
    padding: 10px;
    font-size: .75rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 99%;
    height: 50%;
    max-width: 1080px;
    margin: 0 auto 40px auto;
    background-color: orange;
    border: black 2px solid;
}

.logo-row {
    margin: auto;
}

.row {
    margin: 0 auto;
}

.nav-item {
    margin: 0 4.0625em;
}

header img {
    margin: 0 0 10px 0;
}


form {
    margin: 0 auto;
}

.card-img-top:hover {
    transform: scale(1.05);
}

.jumbotron {
    margin: 10px
}

.nav-item {
    margin: 0 4.0625em;
}

.build img {
    margin: 50px 100px 50px 0;
    border: black solid 1px;
    float:left;
}

.build-text {
    display: inline-block;
    margin: 60px 0 50px 0;
}

.carousel {
    margin: 25px 0 0 0;
}

header img {
    margin: 0 0 10px 0;
}

.build img {
    transition: transform .2s;
}

.build img:hover {
    transform: scale(1.15);
}

.build img {
    transition: transform .2s;
}

.build img:hover {
    transform: scale(1.15);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
